[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "bash/bin/z"]
	path = bash/bin/z
	url = https://github.com/rupa/z
