[Unit]
Description=i3lock
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/xautolock -time 10 -locker "pkill -USR1 dunst; i3lock -c 000000; pkill -USR2 dunst"
Restart=always
RestartSec=3

[Install]
WantedBy=xorg.target

