[Unit]
Description=Network Manager Applet
After=xorg.target
Requires=xorg.target

[Service]
ExecStart=/usr/bin/nm-applet
Restart=on-abort

[Install]
WantedBy=xorg.target
