[Unit]
Description=A tiling window manager
After=xorg.target
Requires=xorg.target

[Service]
Type=forking
ExecStart=/home/daniel/.config/i3/bar.sh

[Install]
WantedBy=xorg.target
