[Unit]
Description=Wallpaper
After=xorg.target
Requires=xorg.target

[Service]
Type=oneshot
ExecStart=/home/daniel/.fehbg
#ExecStart=/usr/bin/feh --bg-scale --randomize /home/daniel/Pictures/wallpaper/random
#ExecStart=/home/daniel/.bin/i3-blur-wall.sh
#Restart=always
#ExecStart=/home/daniel/.config/i3/wallpaper.sh

[Install]
WantedBy=xorg.target
